/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* Debug */
.debug {
  background-color: aquamarine;
}

/* Common */
.container {
  max-width: 1200px;
  margin: auto;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/* Header */
header {
  background-color: #255ee9;
}

.header-row {
  width: 100%;
}

.header-row__col {
  width: 20%;
  padding-top: 20px;
  display: inline-block;
  vertical-align: middle;
}

.header-row__col-left {
  text-align: left;
}

.header-logo {
  vertical-align: middle;
}

.header-row__col-middle {
  width: calc(60% - 8px);
  text-align: center;
}

.header-row__col-right {
  text-align: right;
}

/* Navigation */
.header-nav__menu-item {
  display: inline-block;
  padding-right: 40px;
}

.header-nav__menu-item:last-child {
  display: inline-block;
  padding-right: 0;
}

.header-nav__menu-item-link {
  text-decoration: none;
  color: white;
}

/* Buttons */
.button {
  font-size: 14px;
  font-weight: 500;
  background-color: white;
  padding: 10px 15px;
  border-radius: 40px;
  text-decoration: none;
  color: black;
  display: inline-block;
}

.button--sz-large {
  font-size: 20px;
  font-weight: 500;
  padding-left: 25px;
  padding-right: 25px;
}

.button--bg-black {
  background-color: #23272a;
  color: white;
}

/* Fontawesome */
.fa-arrow-down-long {
  padding-right: 10px;
  font-size: 14px;
  vertical-align: middle;
}

/* Main */
.section-jumbo {
  background-image: url('../img/jumbo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-jumbo__wrapper {
  max-width: 40%;
  margin: auto;
  padding: 150px 0;
  text-align: center;
  color: white;
}

.section-motto {
  font-size: 56px;
}

.section-detail {
  font-size: 20px;
  margin-top: 40px;
  line-height: 1.625;
}

.section-jumbo__button-wrapper {
  margin-top: 20px;
}

.section-jumbo__button-wrapper .button {
  margin-right: 20px;
}

.section-jumbo__button-wrapper .button:last-child {
  margin-right: 0;
}
